header {
    padding: 60px 100px 100px;
    font-size: 20px;
    color: orange;
    background-color: black;
    text-align: center;
}

.album-return {
    padding: 15px;
    background: black;
}

a.return { color: orange; text-decoration: none; }
a.return:hover { text-decoration: underline; }
h1 { text-align: center; }
header p { font-size: 20px; color: rgb(90, 88, 88); text-align: center; }
