header {
    padding: 60px 100px 100px;
    font-size: 20px;
    color: black;
    background-color: rgb(229, 230, 173);
    text-align: center;
}

.album-return {
    padding: 15px;
    background: rgb(229, 230, 173);
}

a.return { color: black; text-decoration: none; }
a.return:hover { text-decoration: underline; }
h1 { text-align: center; }
header p { font-size: 20px; color: rgb(90, 88, 88); text-align: center; }
